*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.time-select, .sound-picker, .player-container{
  height: 80%;
  flex: 1;
}

.time-select{
  background-color: lime;
}

.sound-picker{
  background-color: lightblue;
}

.player-container{
  background-color: lightcoral;
}
